/* Initial */
@font-face {
  src: url(Gatkins-Demo.otf);
  font-family: Gatkins;
}
@font-face {
  src: url(Brusher.ttf);
  font-family: Brusher;
}
@font-face {
  src: url(Poppins/Poppins-Regular.ttf);
  font-family: Poppins;
}
body {
  background-color: rgba(243, 219, 207, 0.929);
}
h1 {
  font-family: Brusher;
}
h2 {
  font-family: Gatkins;
}
*, h3 {
  font-family: Poppins;
  font-size: 15px;
}
.setTextMargin {
  margin: 5px 0;
}


/* Navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c9bbc8;
}
#top_page {
  display: block;
  text-align: center;
  padding: 14px 16px;
}
li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #b6b4c2;
}


/* About Me */
.me {
  width:30%;
  float:left;
  text-align:center
}
.aboutme {
  width:70%;
  float:left;
  padding:14px 16px;
}
/* responsive with mobile */
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .me, .aboutme {
    width:100%;
  }
}


/* Skill */
.codingSkill {
  width:70%;
  float:left;
  padding:0px 25px;
}
.imgCoding {
  width:30%;
  float:left;
  text-align:center;
}
/* responsive with mobile */
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .codingSkill, .imgCoding {
    width:100%;
  }
}
.skillCorner {
  text-align: none;
  background: #E5C1CD;
  border-radius: 20px;
  padding: 10px 20px;

  /* set width of corner : fit text */
  display:inline-block;
  width:auto;
}
.skillCorner:hover {
  /* :hover = point at icon ,then icon faded*/
  background-color: #C9BBC8;
}
.hidden{
  display : none;
}


/* Photo Card */
.cardList {
  display: flex;  /* flow as 'row' by default */
  padding: 2rem;
  overflow-x: scroll;
}
.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;

  height: 450px;
  width: 350px;
  padding: 18px;
  border-radius: 16px;
  background: #AAC9CE;
  box-shadow: -1rem 0 1rem black; /* shadow on card */
  
  /* for smooth when you point card */
  transition: .2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
}
.card:hover {
  transform: translateY(-1rem); /* point on card : up */
}
.card:hover~.card {
  transform: translateX(100px); /* point on card : right */
}
.card:not(:first-child) {
  margin-left: -115px;
}

.cardTopic {
  font-size:18px;
  font-weight: bold;
}
.cardImg {
  width: 310px;
  min-width: 260px;
}
.cardFeeling {
  text-align: center;
  font-size: 36px;
}


/* Footer */
footer {
  /* hold everything with this footer */
  position: relative; 
  bottom: 0;
  width: 100%;

  /* space between text and edge */
  padding: 10px 0px 0px;

  /* background and text */
  background-color: #c9bbc8;
  color: black;
  text-align: center;
}
.contactBlock {
  background-color: #4d446f;
  color: white;
  font-size: 20px;
  padding: 9px 18px;
  vertical-align: middle;
}
.contactBlock:hover {
  /* :hover = point at icon ,then icon faded*/
  background-color: #766d96;
  color: black;
}

/* .backTopBtn {
    position: absolute;
    top: 0;
    right: 0;
  
    padding: 8px 16px;
    font-size: 24px;
    color: #3f51b5;
  }
  .backTopBtn:hover {
    background-color: #ccc;
    color: #000;
  } */
