/* Initial */
@font-face {
  src: url(Gatkins-Demo.otf);
  font-family: Gatkins;
}
@font-face {
  src: url(Brusher.ttf);
  font-family: Brusher;
}
body {
  background-color: rgba(243, 219, 207, 0.929);
}
h1 {
  font-family: Brusher;
}
h2 {
  font-family: Gatkins;
}
*, h3 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}


/* Navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c9bbc8;
}
#top_page {
  display: block;
  text-align: center;
  padding: 14px 16px;
}
li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #b6b4c2;
}


/* About Me */
.me {
  width:30%;
  float:left;
  text-align:center
}
.aboutme {
  width:70%;
  float:left;
  padding:14px 16px;
}
/* responsive with mobile */
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .me, .aboutme {
    width:100%;
  }
}


/* Skill */
.codingSkill {
  width:60%;
  float:left;
  padding:0px 16px;
}
.imgCoding {
  width:40%;
  float:left;
  text-align:center;
}
/* responsive with mobile */
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .codingSkill, .imgCoding {
    width:100%;
  }
}
.skillCorner {
  text-align: none;
  background: #E5C1CD;
  border-radius: 20px;
  padding: 10px 20px;

  /* set width of corner : fit text */
  display:inline-block;
  width:auto;
}
.skillCorner:hover {
  /* :hover = point at icon ,then icon faded*/
  background-color: #C9BBC8;
}
.hidden{
  display : none;
}


/* Footer */
footer {
  /* hold everything with this footer */
  position: relative; 
  bottom: 0;
  width: 100%;

  /* space between text and edge */
  padding: 10px 0px 0px;

  /* background and text */
  background-color: #c9bbc8;
  color: black;
  text-align: center;
}
.contactBlock {
  background-color: #4d446f;
  color: white;
  font-size: 20px;
  padding: 9px 18px;
  vertical-align: middle;
}
.contactBlock:hover {
  /* :hover = point at icon ,then icon faded*/
  background-color: #766d96;
}

/* .backTopBtn {
    position: absolute;
    top: 0;
    right: 0;
  
    padding: 8px 16px;
    font-size: 24px;
    color: #3f51b5;
  }
  .backTopBtn:hover {
    background-color: #ccc;
    color: #000;
  } */
